// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.invisible {
	display: none;
}

.edit_project {
	display: inline-block;
}

.edit_task {
	display: inline-block;
}

.user_nav {
	float: right;
}